.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

// Loops to enumerate the classes for gallery columns.
@for $i from 2 through 9 {

	.gallery-columns-#{$i} {
		grid-template-columns: repeat($i, 1fr);
	}
}

.gallery-caption {
	display: block;
}

.full-grid {
	width: 100vw;
	max-width: 2000px;
	height: 100%;
}

.half-grid {
	width: 50vw;
	max-width: 1200px;
	height: 100%;
}

.isotope-stories-grid {
	width: 100vw;
	max-width: 1300px;
	height: 100%;
	.grid-item {
		width: 400px;
	}
}

.grid-item {
	margin-bottom: 0px;
	width: 300px;
	img {
		display: block;
	}
}