.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

.banner-image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	img {
		object-fit: cover;
		object-position: 50% 50%;
	}
}

@media (min-width: 1200px) {
	.banner-image {
		img {
			width: 100%;
			height: 100%;
			object-position: 50% 50%;
		}
	}
}