h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1{
    font-family: $heading_font;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 80px;
}

.single-project-title{
    font-size: 1.5rem;
    margin-top: 60px;
}

h2{
    font-family: $subheading_font;
    font-weight: 300;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size: 1.25rem;
    text-align: center;
}

.single-project-date{
    font-size: 1rem;
    margin-bottom: 30px;
}

.package-title{
    margin-bottom: 0px;
}

.footer-title{
    margin-bottom: 40px;
}

.sub-heading {
    font-family: $heading_font;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 2rem;
    text-align: center;
}

h3{
    font-family: $subheading_font;
    font-weight: 300;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size: 1.25rem;

}