h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1{
    font-family: $heading_font;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

h2{
    font-family: $subheading_font;
    font-weight: 300;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size: 1.25rem;
    text-align: center;
}

.sub-heading {
    font-family: $heading_font;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 2rem;
    text-align: center;
}