input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

.forminator-input{
    border: 1px solid #ccc;
    background: #fafafa;
}




#forminator-field-first-name-1,
#forminator-field-first-name-2 {
    width: 98%;
}

#name-1, 
#name-2{
    display: flex;
    justify-content: space-between;
	width: 100%;
}

#forminator-field-date-1-month,
#forminator-field-date-1-day,
#forminator-field-date-1-year {
	width: 100%;
}

#date-1-month,
#date-1-day,
#date-1-year {
	width: 30%;
	max-width: 100px;
}

.contact-form {

	.forminator-row {
		display: flex;
		justify-content: space-between;
	}

	.forminator-col {	
		width: 100%;
	}

	.forminator-custom-form {

		.forminator-row {
			padding-bottom: 20px;
		}

		.forminator-row .forminator-row {
			padding-bottom: 0px;
		}
	}

	.forminator-ui.forminator-custom-form-369.forminator-design--default .forminator-button-submit{
		background-color: #fff;
		color: $main_colour;
		border: solid 1px $main_colour;
	}	

	.forminator-ui.forminator-custom-form[data-grid=open] {
		.forminator-row:not(:last-child) {	
			margin-bottom: 0px;
		}

		.forminator-col:not(:last-child) {
			margin-bottom: 0px;
		}
	}

	.forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row:not(:last-child) {
		margin-bottom: 0px;
	}

	.forminator-ui.forminator-custom-form[data-design=default] {

		.forminator-select-container .forminator-select-list .forminator-dropdown-list {
			margin-top: -8px;
			padding-top: 8px;
		}

		.forminator-input,
		.forminator-textarea,
		.forminator-select-container .forminator-select-list .forminator-value {
			border-radius: 8px;
			background-color: #f5f5f5;
            &:active,
            &:hover,
            &:focus{
                border-color: $accent_colour_darker;

            }
		}
	}
}