a {
	color: $main_colour;

	&:visited {
		color: $main_colour;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: solid 2px $main_colour;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.project-cta{
    display: block;
    text-align: center;
    margin-top: 50px;
}

.contact-info {
	a {
		display: inline;
		text-decoration: none;
		p {
			display: inline;
		}
	}
}

.social-link-group{
display: flex;
justify-content: space-between;
width: 200px;
margin: auto;
margin-top: 40px;
margin-bottom: 12px;
}

.social-link{
    display: block;
    width: 200px;
    margin: auto;
}