/*--------------------------------------
  all pages
---------------------------------------*/
.site-branding{
    margin: 45px 0px 15px 0px;
    text-align: center;
}

.site-main{
    padding: 0px 15px;
    margin-bottom: 100px;
}

.sb_instagram_header,
#sbi_load {
    display: none;
}

@media screen and (min-width: $breakpoint-large-phone){
    .site-main{
        padding: 0px 25px;
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    header,
    .site-main{
        padding: 0;
        max-width: 885px;
        margin: auto;
    }

    footer{
        max-width: 1100px;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

/*--------------------------------------
  home page
---------------------------------------*/

.page-id-13 {
  .site-header {
    position: relative;
    z-index: 10;
    height: 100vh;
    img {
      filter: brightness(0) invert(100%);
      -webkit-filter: brightness(0) invert(100%);
    }
    a {      
      color: white;
    }
  }
}

.banner-image {
  margin-bottom: 80px;
}

.portfolio-sneak-peek,
.home-about-section,
#featured-gallery,
.testimonal-section{
    margin-bottom: 120px;
}

.sneak-peek-article {
  width: 90%;
  margin: auto;
  margin: 30px;
}

.home-about-section {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.home-about-article {
  margin: 30px;
}

.testimonial-section {
  img {
    margin: auto;
    display: block;
    width: 100%;
  }
}

.testimonial-article {
  margin: 30px;
  p {
    margin-top: 0px;
  }
}

@media (min-width: $breakpoint-large-phone) {
  .testimonial-section {
    img {
      width: 90%;
    }
  }
}

@media (min-width: $breakpoint-tablet) {

    .page-id-13{
        .main-navigation {
            border-top: solid 1px white;
            border-bottom: solid 1px white;
          }
    }

  .sneak-peek-article {
    width: 45%;
  }

    .portfolio-sneak-peek,
    .home-about-section {
    display: flex;
    justify-content: space-around;
    }

    .portfolio-sneak-peek {
    margin-top: 30px;
    }

    .home-about-section {
    img {
        width: 45%;
        object-fit: cover;
    }
    }

    .testimonial-section {
    display: flex;
    margin: 80px 40px 0 40px;
    img {
        width: 50%;
        object-fit: contain;
    }
    }

    .testimonial-article {
    margin: auto 0px auto 30px;
    }
}


/*--------------------------------------
  about page
---------------------------------------*/

.about-lily-woods{
    margin-top: 60px;
}

.associate-description{
    margin-bottom: 45px;
}

@media screen and (min-width: $breakpoint-tablet){
    .about-lily-woods,
    .associate-photographers{
        width: 580px;
        margin: auto;
    }

    .about-lily-woods{
        margin-top: 60px;
    }

    .about-section:nth-child(2){
        margin-bottom: 80px;
    }
}

@media screen and (min-width: $breakpoint-desktop){

    .about-lily-woods,
    .associate-photographers{
        width: 885px;
        margin: auto;
    }

    .about-lily-woods{
        margin-top: 60px;
    }

    .about-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }

    .about-text,
    .about-image {
        width: 45%;
        margin: auto;
    }

    img {
        object-fit: contain;
    }

    .associate-photographers h2 {
        margin-bottom: 40px;
    }

    .associate-article {
        display: flex;
    }

    .associate-description-group{
        margin: 40px;
    }
}

/*--------------------------------------
  portfolio page - single
---------------------------------------*/
.project-description{
    margin: 30px 0px 35px 0px;
}

/*--------------------------------------
  packages page
---------------------------------------*/
.package-pricing{
    margin-top: 0px;
    margin-bottom: 15px;
}

.number-photographers{
    margin-top: 2px;
    margin-bottom: 0px;
}

.package-hours{
    margin-top: 0px;
}

.package-group{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.package-section{
    text-align: center;
    padding: 25px 0px;
    margin: 15px 30px;
    border-bottom: solid 1px $main_colour;
}

.package-section:nth-child(4){
    border-bottom: none;
}

.extras-section{
    margin: 0px 20px;
}

.extras-pricing{
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.extras-details{
    margin-top: 0px;
    margin-bottom: 30px;
}

.extras-title{
    margin-bottom: 5px;
    text-align: left;
}

.package-notice{
    margin: 20px 0px 60px 0px;
    font-style: italic;
}

#faq-section{
    margin: 0px 20px;
}

@media screen and (min-width: $breakpoint-large-phone){
    .extras-section{
        margin: 0px 40px;
    }
}

@media screen and (min-width: $breakpoint-tablet) {

    .package-notice{
        text-align: center;
    }

    .package-section{
        margin: 0px;
    }

    .package-section:nth-child(1),
    .package-section:nth-child(2){
        width: 50%;
        padding: 20px 70px 30px 70px;
        margin-bottom: 40px;
        border-bottom: none;
    }

    .package-section:nth-child(1){
        border-right: solid 1px $main_colour;
    }

    .package-section:nth-child(3),
    .package-section:nth-child(4){
        width: 100%;
        padding: 10px 70px;
        border-left: solid 1px $main_colour;
        border-right: solid 1px $main_colour;
        border-bottom: none;
    }

    .extras-section{
        margin: 0px 30px;
        display: flex;
        justify-content: space-between;
    }

    .extras-description{
        width: 85%;
        h2{
            text-align: left;
        }
    }

    .extras-details{
        margin-bottom: 10px;
    }

    #faq-section{
        margin: 0px;
    }
}


/*--------------------------------------
  contact page
---------------------------------------*/
.contact-wrapper {
  max-width: 30em; //480px
  margin: auto;
}
//media query
@media (min-width: $breakpoint-desktop) {
  .contact-wrapper{
    max-width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-between;
  }

  .contact-form,
  .contact-info{
    width: 45%;
  }
}