/*--------------------------------------
  all pages
---------------------------------------*/
.site-branding{
    margin: 45px 0px 15px 0px;
    text-align: center;
}

.site-main{
    padding: 0px 15px;
}

.sb_instagram_header,
#sbi_load {
    display: none;
}

@media screen and (min-width: 37.5em) {
    header,
    .site-main{
        padding: 0;
        max-width: 885px;
        margin: auto;
        margin-bottom: 100px;
    }

    footer{
        max-width: 1100px;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

/*--------------------------------------
  home page
---------------------------------------*/

.banner-image {
  margin-bottom: 80px;
}

.portfolio-sneak-peek,
.home-about-section,
#featured-gallery,
.testimonal-section{
    margin-bottom: 120px;
}

.portfolio-sneak-peek,
.home-about-section {
  display: flex;
}

.sneak-peek-article {
  width: 45%;
  margin: auto;
  margin-left: 30px;
}

.home-about-section {
  img {
    width: 45%;
    object-fit: cover;
  }
}

.home-about-article {
  margin: 30px;
}

.testimonial-section {
  display: flex;
  margin: 80px 40px 0 40px;
  img {
    object-fit: contain;
  }
}

.testimonial-article {
  width: 400px;
  margin: auto;
  p {
    margin-top: 0px;
  }
}
/*--------------------------------------
  about page
---------------------------------------*/

.about-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  
  .about-text,
  .about-image {
    width: 45%;
    margin: auto;
  }

  img {
    object-fit: contain;
  }
}

.associate-photographers h2 {
  margin-bottom: 40px;
}

.associate-article {
  margin: 40px;
}

/*--------------------------------------
  portfolio page - single
---------------------------------------*/
.project-description{
    margin: 30px 0px 35px 0px;
}

/*--------------------------------------
  packages page
---------------------------------------*/
.package-pricing{
    margin-top: 0px;
    margin-bottom: 15px;
}

.number-photographers{
    margin-top: 2px;
    margin-bottom: 0px;
}

.package-hours{
    margin-top: 0px;
}

.package-group{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.package-section{
    text-align: center;
}

.extras-pricing{
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.extras-details{
    margin-top: 0px;
}

.extras-title{
    margin-bottom: 5px;
}

.package-notice{
    margin: 20px 0px 60px 0px;
    text-align: center;
    font-style: italic;
}

@media screen and (min-width: 37.5em) {
    
    .package-section:nth-child(1),
    .package-section:nth-child(2){
        width: 50%;
        padding: 20px 70px 30px 70px;
        margin-bottom: 40px;
    }

    .package-section:nth-child(1){
        border-right: solid 1px $main_colour;
    }

    .package-section:nth-child(3),
    .package-section:nth-child(4){
        width: 100%;
        padding: 10px 70px;
        border-left: solid 1px $main_colour;
        border-right: solid 1px $main_colour;
    }

    .extras-section{
        margin: 0px 30px;
        display: flex;
        justify-content: space-between;
    }

    .extras-description{
        width: 85%;
        h2{
            text-align: left;
        }
    }
}


/*--------------------------------------
  contact page
---------------------------------------*/

//media query
.contact-wrapper{
    display: flex;
    justify-content: space-between;
}

.contact-form,
.contact-info{
    width: 45%;
}